* {
    box-sizing: border-box;
}

/*background: #fdc6e5; */ 

body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    width: 1000px;
    margin: auto;
    padding: 16px 100px;
    background: #fdc6e5;
    text-align: center;
}

.center-card{ 
    width: 1000px;
    margin: auto;
    padding: 16px 100px;
    background: #fddac6;
    border-radius: 50px;
    outline: 1px solid hotpink;
}

.list {
    display: inline-block;
    text-align: left;
}

header {
    width: 1000px;
    height: 120px;
    margin: auto auto 1px auto;
    text-align: center;
    
}

#title {
    text-decoration: none;
    
}

h1 {
    font-family: Whaddup, fantasy;
    text-shadow: hotpink 0px 1px, hotpink -1px 0px, hotpink 1px 0px, hotpink 0px -1px, #f499d3 5px 5px 5px;
    color: #ffffff;
    font-size: 80px;
    font-stretch: semi-expanded;
    margin: 0px 0px 0px 0px;
}

@font-face {
  font-family: Whaddup; 
  src: url(fonts/blue-winter.regular.ttf);
}